{% extends 'base.html.twig' %}

{% block title %}Hello JobsController!{% endblock %}

{% block body %}
    <style>
        .tbody tr:nth-child(odd) {
            background-color: #E6E6E6;
            text-align: center;
        }

        .tbody td {
            padding: 10px;
        }
    </style>


    <div>
        {{ include('navbar.html.twig') }}

        <div class="text-center d-flex flex-column align-items-center m-5">
            <h1>Match</h1>
            <div class="w-75 justify-content-center align-items-center">
                {% for user in users %}
                <table class="table table-dark table-hover table-striped rounded overflow-hidden">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Create At</th>
                        <th>Minimum Degree</th>
                        <th>Technos</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="tbody">
                    {% for match in jobsMatches[user.id] %}
                        <tr>
                            <td>{{ match.id }}</td>
                            <td>{{ match.jobName }}</td>
                            <td>{{ match.jobDescription }}</td>
                            <td>{{ match.jobLocation }}</td>
                            <td>{{ match.jobPostDate|date('d/m/Y') }}</td>
                            <td>{{ match.jobDegree }}</td>
                            {% for skill in match.skills %}
                                <td>{{ skill }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
