{% extends 'base.html.twig' %}

{% block title %}Hello JobsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .tbody tr:nth-child(odd) { background-color: #E6E6E6; text-align: center; }
    .tbody td { padding: 10px; }
</style>

<div class="example-wrapper">
    <h1>Jobs</h1>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary w-100" formnovalidate>Send</button>
    {{ form_end(form) }}

{#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Title</th>#}
{#                <th>Description</th>#}
{#                <th>Location</th>#}
{#                <th>Create At</th>#}
{#                <th>Minimum Degree</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody class="tbody">#}
{#        {% for job in jobs %}#}
{#            <tr>#}
{#                <td>{{ job.id }}</td>#}
{#                <td>{{ job.jobTitle }}</td>#}
{#                <td>{{ job.jobDescription }}</td>#}
{#                <td>{{ job.jobLocation }}</td>#}
{#                <td>{{ job.jobPostDate ? job.jobPostDate|date('d-m-Y') : '' }}</td>#}
{#                <td>{{ job.jobDegree }}</td>#}
{#              #}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan=\"18\">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}

</div>
{% endblock %}
