<nav class="navbar navbar-expand-md border" aria-label="Fourth navbar example">
    <div class="container-fluid">

        <a class="navbar-brand pl-1 text-primary" style="width: 2.8rem;" href="{{ path('app_home') }}">
            <img src="https://cdn.discordapp.com/attachments/1037380299656548474/1037505047417868311/logoOutdeed.png" alt="icone OutDeed" class="mb-2" style="width: inherit;">
            OutDeed
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ms-5" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0 ms-5">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{  path('user_render') }}">Profils</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('jobs_render') }}">Offres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('company_render') }}">Entreprises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('jobs_render_match') }}">Matching</a>
                </li>
            </ul>
        </div>
    </div>
</nav>