{% extends 'base.html.twig' %}

{% block title %}Hello DisplayUsersController!{% endblock %}

{% block body %}
    <div class="text-center d-flex justify-content-center align-items-center h-75">
        <div class="text-center d-flex flex-column justify-content-center align-items-center w-50 ">
            <h1 class="mb-5">Listes des Chercheurs d'emplois</h1>

            <div class="container text-center">
                <div class="row">

                    {% for user in users %}
                        <div class="col mb-5">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    {% if user.profilePicture == "" %}
                                        <img class="rounded-circle w-25 h-25" src="https://static.thenounproject.com/png/363633-200.png" alt="">
                                    {% else %}
                                        <img class="rounded-circle w-50 h-50" src="${{ user.profilePicture }}" alt="">
                                    {% endif %}
                                    <h5 class="card-title">{{ user.name }} {{ user.surname }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ user.age }} ans</h6>
                                    <p class="card-text text-muted">{{ user.address }}</p>
                                    <p class="card-text text-muted">BAC+{{ user.levels }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
